html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pointer-events {
  pointer-events: auto !important;
}

.border-b {
  border-bottom: 1px solid #aaa;
}

.border-t {
  border-top: 1px solid #ccc;
}