html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rotobo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.drawer {
  font-family: 'Rotobo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #454545;
}

.pointer-events {
  pointer-events: auto !important;
}

.border-b {
  border-bottom: 1px solid #aaa;
}

.border-t {
  border-top: 1px solid #ccc;
}